html {
    margin: 0;
}

.bg-primary {
    background-color: #875319 !important;
    color: white;
}

footer {
    background-color: #875319;
    margin-top: 100%;
    width: 100%;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.imageCarousel {
    height: 600px;
    object-fit: cover;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: black;
}

.imageCard {
    object-fit: cover;
    height: 300px;
}

.cat {
    margin: auto;
}